html,
body {
    font-family: $font;
    font-weight: $font-weight-normal;
    font-size: $unit;
}

body {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#root,
#sky,
.constellation {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#sky {
    background: -webkit-linear-gradient(#00111e 30%, #033d5e);
    background: -moz-linear-gradient(#00111e 30%, #033d5e);
    background: -o-linear-gradient(#00111e 30%, #033d5e);
    background: linear-gradient(#00111e 30%, #033d5e);
}

.constellation {
    z-index: 1000;
}

// SVG star
.star {
    //
}

.star__outer-glow {
    fill: $gold;
}

.star__inner-glow {
    fill: white;
}

.star__tail {
    fill: white;
    opacity: 0.6;
}

// Connecting line
.connector {
    stroke: $light-blue;
    stroke-width: 1.2;
    opacity: 0.95;
}
